body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: black;
}

article, aside, nav {
    display: block;
}

header, footer, section {
    display: block;
    width: 1000px;
    margin: 0 auto;
}

nav ul {
    background: #3BB4DF;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 10px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 980px;
}

nav ul li {
    float: left;
    background: #3BB4DF;
    margin: 0;
}

nav ul li:hover {
    background: #f56923;

}

nav ul li:hover a {
    color: #141414;
}

nav ul li a {
    display: block;
    padding: 10px 30px;
    color: #141414;
    text-decoration: none;
}

nav ul li {
    padding: 0 0;
    color: #141414;
    text-decoration: none;
}

.banner {
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    width: 1000px;
}

.logo_area {
    float: left;
    height: 90px;
}

.logo {
    height: 70px;
    position: relative;
    top: 13px;
    left: 10px;
}

.strapline_area {
    float: left;
    position: relative;
    top: 60px;
    left: 420px;
}

.strapline_square {
    width: 20px;
    height: 20px;
}

.strapline {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: gray;
}

.bottommessage {
    clear: both;
    margin: 0 0 0 0;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: black;
    font-weight: normal;
    background-color: silver;
    width: 980px;
    text-align: center;
}

.content {
    padding: 5px;
}

.column-1 {
    float: left;
    text-align: left;
    background-color: white;
    margin: 0;
    padding: 10px;
    width: 300px;
}

.column-2 {
    float: left;
    text-align: left;
    background-color: white;
    margin: 0;
    padding: 10px;
    width: 220px;
}

.column-image {
    width: 190px;
}

.column-3 {
    float: left;
    text-align: left;
    background-color: white;
    margin: 0;
    padding: 10px;
    width: 200px;
}

.column-4 {
    float: left;
    text-align-all: center;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 190px;
}

.column-4-services {
    float: left;
    text-align-all: center;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 0px;
    width: 190px;
}

.column-4-blue {
    float: left;
    text-align: left;
    margin: 10px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    background: #BEE3FA;
    width: 160px;
}

.banner{
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    width: 1000px;
}

.background_blue {
    background-color: #EBEBEB;
    height: 100%;
}

.share_images {
    width: 35px;
}

.social-media-shares{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px;
    width: 160px;
}