nav {
    width: 1000px;
}

nav ul {
    background: #3BB4DF;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 10px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 980px;
}

nav ul li {
    float: left;
    background: #3BB4DF;
    margin: 0;
}

nav ul li:hover {
    background: #f56923;

}

nav ul li:hover a {
    color: #141414;
}

nav ul li a {
    display: block;
    padding: 10px 30px;
    color: #141414;
    text-decoration: none;
}

nav ul li {
    padding: 0 0;
    color: #141414;
    text-decoration: none;
}

